.displayCases{
    display:flex;
    flex-direction:row;
    padding-left:40px;
    padding-right: 100px;
   
}

.displayCaseVal
{
    padding-left: 70px;
    padding-right: 70px;
    padding-top:30px;
    
}

.displayCasesCountry
{
    display:flex;
    flex-direction: column;
    margin-left:470px;
}

.selectOption {
    margin-top:50px;
  }
  
 
  
